<h1>掲示板（雑談する）</h1>
<h3>新規投稿</h3>
<%= form_for @share do |f| %>

  <div class="field">
    <%= f.label :画像　　 %>
    <%= f.file_field :image %>
  </div>

    <div class="field">
    <%= f.label :コメント %>
    <%= f.text_field :about, :size => 140 %>
  </div>
  

  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", shares_path %>