<%# --- 新規投稿フォーム --- %>
<div class="form-wrapper">
  <div class="form-container">

    <%# フォームヘッダー %>
    <div class="form-header">
      <h1>新規投稿</h1>
      <p>画像とコメントを入力して、投稿してください。</p>
    </div>

    <%# フォーム本体 %>
    <%= form_with(model: @share, local: true, class: "main-form") do |f| %>

      <%# 画像フィールド %>
      <div class="form-field">
        <%= f.label :image, "画像" %>
        <%= f.file_field :image, class: "form-control-file" %>
      </div>

      <%# コメントフィールド %>
      <div class="form-field">
        <%= f.label :about, "コメント" %>
        <%= f.text_area :about, class: "form-control", placeholder: "コメントをここに入力..." %>
      </div>

      <%# アクションボタン %>
      <div class="form-actions">
        <%= link_to "一覧に戻る", shares_path, class: "btn btn-secondary" %>
        <%= f.submit "投稿する", class: "btn btn-primary" %>
      </div>

    <% end %>
    
    <% if @share.errors.any? %>
  <div class="error-messages">
    <ul>
      <% @share.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  </div>
</div>
