<h1>掲示板（雑談する）</h1>
<h3>詳細</h3>
<div class="share">

<% if @share.image.attached? %>
  <%= image_tag @share.image, size: '250x200' %>
<% end %>
  <br><%= @share.about %> / <%= @share.created_at %></div>

<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <!--<%= c.user.email unless c.user.blank? %>-->
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@share, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to "一覧に戻る", shares_path %>
<% if user_signed_in? && current_user.id == @share.user_id %>
<%= link_to "編集する", edit_share_path(@share.id) %>
<% end %>