<h1>マイページ</h1>
<p><%= current_user.email %> さん、こんにちは。</p>

<ul>
  <li><%= link_to "新規記録（入力する）", new_match_path %></li>
  <li><%= link_to "記録一覧", matches_path %></li>
  <li><%= link_to "記録集計（分析する）", stats_path %></li>
  <li><%= link_to "掲示板（雑談する）", shares_path %></li>
</ul>

<p><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %></p>
